@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:ital,opsz,wght@0,6..96,400..900;1,6..96,400..900&family=Chocolate+Classical+Sans&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Vesper+Libre:wght@400;500;700;900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Chocolate+Classical+Sans&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Vesper+Libre:wght@400;500;700;900&display=swap');

// Typography
// Change font family for base text
$font-family-base: "Bodoni Moda", serif;


// Change font family for headings
$headings-font-family: "Chocolate Classical Sans";

// Include any default variable overrides here (colors, font sizes, font family, etc..)
$primary: #FFb0B9;;
$secondary: #C94268;
$success: #A4D882;
$info: #6C4D4B;
$warning: #FFF689;
$danger: rgb(229, 68, 109);
$light: #f6f3ed;;
$dark: #260C09;

$body-bg-light: #f2f2f2;

$footer-bg-dark: #181853;
$footer-text-light-color: #f2f2f2;


// Adjust nav link hover color here
$navbar-bg-dark: #181853;
$navbar-dark-hover-color: #A04ADD;



// Change font sizes for h1-h6 using values in assignment
$h1-font-size: 3.052rem;
$h2-font-size: 2.441rem;
$h3-font-size: 1.953rem;
$h4-font-size: 1.563rem;
$h5-font-size: 1.25rem;
$h6-font-size: 1rem;

@import "../node_modules/bootstrap/scss/bootstrap";

// Add additional custom code here

// Target .navbar-brand and change font-family to use 'Libre Baskerville'.
.navbar-nav {
    font-family: 'Chocolate Classical Sans'; 
   }
   .nav-button {
    font-family: 'Chocolate Classical Sans'; 
   }

   .hero {
    height: 800px;
    background-color: #6C4D4B;
    background-image: url(/images/hero-image.jpg);
    background-repeat: no-repeat;
    background-position: cover;
    background-size: cover;
    display: flex;
    align-items: center;
  }

  .navbar-toggler-icon {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba(229, 68, 109, 100)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='4' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.navbar-toggler {
  border: none;
  outline: none; 
}

.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
  outline: none;
  box-shadow: none;
}




   


